<div class="col-lg-6">
    <div class="container">
        <div class="well">
            <ul ng-repeat="demand in data">
                <li>
                    {{demand}}
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="col-lg-6">
                <c3chart bindto-id="chart" chart-data="datapoints" chart-columns="datacolumns" chart-x="datax">
                    <chart-axis>
                        <chart-axis-x axis-id="x" axis-type="timeseries">
                            <chart-axis-x-tick tick-rotate="50" tick-format="%Y-%m-%d %H:%M:%S"/>
                        </chart-axis-x>
                    </chart-axis>
                </c3chart>
            </div>
        </div>
    </div>

</div>
